[Unit]
Description=Run command when remote imap dir changed
Documentation=man:goimapnotify(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/goimapnotify
# for io_uring
LimitMEMLOCK=64M

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes

[Install]
WantedBy=default.target
