#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = noautodbgsym

GOPATH := $(PWD)/gocode
export GOPATH

SHELL := sh -e
VERSION ?= 2.4

%:
	dh ${@}

override_dh_auto_clean:
	rm -rf .pc
	$(MAKE) clean

goimapnotify:
	git clone --depth 1 --branch $(VERSION) https://gitlab.com/shackra/goimapnotify

override_dh_auto_build: goimapnotify
	[ -d $(GOPATH) ] || mkdir $(GOPATH)
	$(MAKE) -C goimapnotify
	pandoc --standalone --to man goimapnotify1.md -o goimapnotify.1
	gzip goimapnotify.1

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/goimapnotify/usr/bin
	mkdir -p $(CURDIR)/debian/goimapnotify/usr/share/man/man1
	cp goimapnotify/goimapnotify $(CURDIR)/debian/goimapnotify/usr/bin
	cp goimapnotify.1.gz $(CURDIR)/debian/goimapnotify/usr/share/man/man1

override_dh_dwz:
	true

override_dh_installsystemduser:
	dh_installsystemduser --no-enable
